<h2>Officue UI Fabric Icons</h2>

<p>There are lots of icons you will need in designing UI</p>
<div>
        <i class="ms-Icon ms-Icon--group" style="font-size:xx-large" aria-hidden="true"></i>
    <i class="ms-Icon ms-Icon--person" style="font-size:xx-large" aria-hidden="true"></i>
    <i class="ms-Icon ms-Icon--star" style="font-size:xx-large" aria-hidden="true"></i>
    <i class="ms-Icon ms-Icon--dog" style="font-size:xx-large" aria-hidden="true"></i>
    <i class="ms-Icon ms-Icon--dogAlt" style="font-size:xx-large" aria-hidden="true"></i>
    <i class="ms-Icon ms-Icon--mail" style="font-size:xx-large" aria-hidden="true"></i>
    <i class="ms-Icon ms-Icon--plus" style="font-size:xx-large" aria-hidden="true"></i>
    <i class="ms-Icon ms-Icon--question" style="font-size:xx-large" aria-hidden="true"></i>
</div>

<p>It is easy to change the size of an icon</p>
<div>
    <i class="ms-Icon ms-Icon--person" style="font-size:xx-large" aria-hidden="true"></i>
    <i class="ms-Icon ms-Icon--person" style="font-size:x-large" aria-hidden="true"></i>
    <i class="ms-Icon ms-Icon--person" style="font-size:large" aria-hidden="true"></i>
    <i class="ms-Icon ms-Icon--person" style="font-size: medium" aria-hidden="true"></i>
    <i class="ms-Icon ms-Icon--person" style="font-size:small" aria-hidden="true"></i>
    <i class="ms-Icon ms-Icon--person" style="font-size:x-small" aria-hidden="true"></i>
    <i class="ms-Icon ms-Icon--person" style="font-size:xx-small" aria-hidden="true"></i>
</div>

<p>Here's a look at all the icons</p>
<div>
    <div ng-repeat="icon in pageInfo.icons" class="icon-block ms-ic" >
        <i class="ms-Icon {{icon}} " style="font-size:xx-large;" aria-hidden="true" ></i>
        <br/>
        <span class="ms-font-m" >{{icon}}</span>
    </div>

</div>
