

<form>

        <div class="ms-CommandBar">

            <button class="ms-CommandBarItem ms-Button ms-Button--command ">
                <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--save"></i></span>
                <span class="ms-Button-label">Save</span>
                <span class="ms-Button-description">Click this to update contact</span>
            </button>

            <button class="ms-CommandBarItem ms-Button ms-Button--command">
                <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--x"></i></span>
                <span class="ms-Button-label">Cancel</span>
                <span class="ms-Button-description">Don't do nothing</span>
            </button>

            <button class="ms-CommandBarItem ms-Button ms-Button--command">
                <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--plane"></i></span>
                <span class="ms-Button-label">Wanna Get Away</span>
                <span class="ms-Button-description">Don't do nothing</span>
            </button>

        </div>



    <div class="ms-Grid">
         <div class="ms-Grid-row">
            <div class="ms-Grid-col ms-u-lg8">
                <div class="ms-TextField is-required">
                    <label class="ms-Label">First Name</label>
                    <input class="ms-TextField-field">
                    <span class="ms-TextField-description">enter your first name.</span>
                </div>

                <div class="ms-TextField is-required">
                    <label class="ms-Label">Last Name</label>
                    <input class="ms-TextField-field">
                    <span class="ms-TextField-description">enter your last name.</span>
                </div>

                <div class="ms-TextField ms-TextField--multiline">
                    <label class="ms-Label">Bio</label>
                    <textarea class="ms-TextField-field"></textarea>
                    <span class="ms-TextField-description">enter info about your life.</span>
                </div>


                <div date-picker="value" />

            </div>
            <div class="ms-Grid-col ms-u-lg4">
                <div id="sidebar-right" >
                    <h4>Privacy options:</h4>
                    <div class="ms-Toggle">
                        <span class="ms-Toggle-description">Let my spouse discover my location</span>
                        <input type="checkbox" id="demo-toggle1" class="ms-Toggle-input" />
                        <label for="demo-toggle1" class="ms-Toggle-field">
                            <span class="ms-Label ms-Label--off">Off</span>
                            <span class="ms-Label ms-Label--on">On</span>
                        </label>
                    </div>

                    <div class="ms-Toggle">
                        <span class="ms-Toggle-description">Let my spouse view my browser history</span>
                        <input type="checkbox" id="demo-toggle2" class="ms-Toggle-input" />
                        <label for="demo-toggle2" class="ms-Toggle-field">
                            <span class="ms-Label ms-Label--off">Off</span>
                            <span class="ms-Label ms-Label--on">On</span>
                        </label>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>

